:root {
    --el-border-radius-base: 8px;
}
@font-face {
    font-family: "AbrilFatface";
    src: url(../font/AbrilFatface-Regular.woff) format("woff");
}

@font-face {
    font-family: "Aldrich";
    src: url(../font/Aldrich-Regular.woff) format("woff");
}
@font-face {
    font-family: "Arial";
    src: url(../font/Arial-Rounded-Bold.woff) format("woff");
}
@font-face {
    font-family: "Bebas";
    src: url(../font/Bebas.woff) format("woff");
}
@font-face {
    font-family: "BungeeHairlin";
    src: url(../font/Bungee_Hairline.ttf) format("truetype");
}
@font-face {
    font-family: "dsdigi";
    src: url(../font/ds-digi.woff) format("woff");
}
@font-face {
    font-family: "Expansiva";
    src: url(../font/Expansiva.woff) format("woff");
}
@font-face {
    font-family: "HarmonyOS";
    src: url(../font/HarmonyOS_Sans.woff) format("woff");
}
@font-face {
    font-family: "JetBrains";
    src: url(../font/JetBrainsMono.woff) format("woff");
}
@font-face {
    font-family: "Merriweather";
    src: url(../font/Merriweather-Regular.woff) format("woff");
}
@font-face {
    font-family: "MiSans";
    src: url(../font/MiSans-Normal.woff) format("woff");
}
@font-face {
    font-family: "Nabla";
    src: url(../font/Nabla.woff) format("woff");
}
@font-face {
    font-family: "Orbitron";
    src: url(../font/Orbitron-VariableFont_wght.woff) format("woff");
}

@font-face {
    font-family: "SFUI";
    src: url(../font/SFUI.ttc) format("truetype-collection");
}
@font-face {
    font-family: "Silkscreen";
    src: url(../font/Silkscreen-Regular.woff) format("woff");
}
@font-face {
    font-family: "TrainOne";
    src: url(../font/TrainOne-Regular.woff) format("woff");
}
.el-select {
    .el-select__wrapper {
        border-radius: 8px;
    }
}

.setting-li-sub {
    --alpha-color: 0, 0, 0;
    display: flex;
    justify-content: space-between;
    color: rgba(var(--alpha-color), 0.7);
    padding: 0 0 6px 12px;
    margin-top: 20px;
    font-size: 13px;
}
.setting-panel {
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    line-height: 36px;
    color: #222;
    font-size: 13px;
}
.d-button {
    --bg-input: #f0f1f4;
    --d-main: #222;
    --d-button-padding: 8px 15px;
    --d-button-height: 32px;
    --d-button-radius: 6px;
    --d-button-bg: var(--bg-input);
    --d-button-color: var(--d-main);
    --d-button-text-size: 14px;
    --d-button-custon-bg: var(--1182d8e4);
}

.bb {
    --dividing-line: #f2f2f2;
    border-bottom: 1px solid var(--dividing-line);
}
.d-button-size-small {
    --d-button-padding: 5px 11px;
    --d-button-height: 24px;
    --d-button-text-size: 12px;
}
.d-button-type-primary {
    --primary-color: #1890ff;
    --d-button-bg: var(--primary-color);
    --d-button-color: #fff;
}
