.tabs {
    width: 100%;
}
.tabs-header-item {
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    flex: 1;
    text-align: center;
    color: #606266;
}

.line {
    height: 2px;
    background: #1890ff;
    transition: all 0.3s ease;
}
li.tabs-header-item.active {
    color: #1890ff;
}
